{{!< main}}

<section class="py-5 bg-light text-center">
  <div class="container">
    <h2>About This Project</h2>
    <p>
      This website is developed using Handlebars templating engine
      and Gulp task runner as required in Internship Task 2.
    </p>
  </div>
</section>
